.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-ongkir {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

.ongkir {
  display: grid;
  grid-template-areas:
    "asal tujuan"
    "berat berat";
  gap: 20px;
}

.main-content h3 {
  text-align: center;
  color: #60a5fa;
  margin-bottom: 30px;
}

.asal-pengiriman {
  grid-area: asal;
}
.tujuan-pengiriman {
  grid-area: tujuan;
}

.weight {
  grid-area: berat;
}

.data-ongkir {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#submit {
  background-color: midnightblue;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
}
